*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier-nav{
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    background-color: #151515;
}
.container{
    max-width: 1450px;
    margin: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 13px;  
    .ul-box{
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            li{
                cursor: pointer;
                transition: all 0.5s ease;
                color: white;
                &:hover{
                    color: green;
                }
            }
        }
    }
    img{
        width: 100px;
    }
}
a{
    text-decoration: none;
    color: inherit;
}








  